
@font-face {
  font-family: 'iconfont';  /* project id 230709 */
  src: url('//at.alicdn.com/t/font_ug0oxgwa4qpycik9.eot');
  src: url('//at.alicdn.com/t/font_ug0oxgwa4qpycik9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_ug0oxgwa4qpycik9.woff') format('woff'),
  url('//at.alicdn.com/t/font_ug0oxgwa4qpycik9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_ug0oxgwa4qpycik9.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:inherit;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianying:before { content: "\e610"; }

.icon-jiantou:before { content: "\e64c"; }

.icon-dianyingicon:before { content: "\e604"; }

